# Tracking Weeks Clean Up

In this Jupyter Notebook, we will be cleaning the data from the NFL 2022 season from weeks 1-9.

In [1]:
#Import dependencies
import pandas as pd
import zipfile
import io
import os

## Importing Weeks 1-9 from Zip Files to CSV Files

### Week 1

In [2]:
# Specify path to week one zip file
week_one_zip_path = 'Resources/CompressedTrackingWeeks/tracking_week_1.zip'

# Move zip file into Resources
extracted_dir = 'Resources'

# Create the target directory if it doesn't exist
os.makedirs(extracted_dir, exist_ok=True)

# Open the zip file
with zipfile.ZipFile(week_one_zip_path, 'r') as zip_ref:
    # Extract all contents to the specified directory
    zip_ref.extractall(extracted_dir)

# Specify the path to the extracted CSV file
extracted_csv_path = os.path.join(extracted_dir, 'tracking_week_1.csv')

# Read the extracted CSV file into a DataFrame
week_one_df = pd.read_csv(extracted_csv_path)
week_one_df.head()

,displayName,frameId,time,club,playDirection,x,y,s,a,dis,o,dir,event
0,Rodger Saffold,1,2022-09-08 20:24:05.200000,BUF,left,88.37,27.27,1.62,1.15,0.16,231.74,147.90,NaN
1,Rodger Saffold,2,2022-09-08 20:24:05.299999,BUF,left,88.47,27.13,1.67,0.61,0.17,230.98,148.53,pass_arrived
2,Rodger Saffold,3,2022-09-08 20:24:05.400000,BUF,left,88.56,27.01,1.57,0.49,0.15,230.98,147.05,NaN
3,Rodger Saffold,4,2022-09-08 20:24:05.500000,BUF,left,88.64,26.90,1.44,0.89,0.14,232.38,145.42,NaN
4,Rodger Saffold,5,2022-09-08 20:24:05.599999,BUF,left,88.72,26.80,1.29,1.24,0.13,233.36,141.95,NaN

### Week 2

In [3]:
# Specify path to week one zip file
week_two_zip_path = 'Resources/CompressedTrackingWeeks/tracking_week_2.zip'

# Move zip file into Resources
extracted_dir = 'Resources'

# Create the target directory if it doesn't exist
os.makedirs(extracted_dir, exist_ok=True)

# Open the zip file
with zipfile.ZipFile(week_two_zip_path, 'r') as zip_ref:
    # Extract all contents to the specified directory
    zip_ref.extractall(extracted_dir)

# Specify the path to the extracted CSV file
extracted_csv_path = os.path.join(extracted_dir, 'tracking_week_2.csv')

# Read the extracted CSV file into a DataFrame
week_two_df = pd.read_csv(extracted_csv_path)
week_two_df.head()

,displayName,frameId,time,playDirection,x,y,s,a,dis,o,dir,event
0,Travis Kelce,1,2022-09-15 20:16:32.700000,left,87.2,24.9,0.00,0.00,0.0,263.11,138.55,NaN
1,Travis Kelce,2,2022-09-15 20:16:32.799999,left,87.2,24.9,0.00,0.00,0.0,263.11,142.54,NaN
2,Travis Kelce,3,2022-09-15 20:16:32.900000,left,87.2,24.9,0.00,0.00,0.0,262.47,143.82,NaN
3,Travis Kelce,4,2022-09-15 20:16:33.000000,left,87.2,24.9,0.00,0.00,0.0,262.47,149.71,NaN
4,Travis Kelce,5,2022-09-15 20:16:33.099999,left,87.2,24.9,0.01,0.15,0.0,262.47,309.38,NaN

### Week 3

In [4]:
# Specify path to week three zip file
week_three_zip_path = 'Resources/CompressedTrackingWeeks/tracking_week_3.zip'

# Move zip file into Resources
extracted_dir = 'Resources'

# Create the target directory if it doesn't exist
os.makedirs(extracted_dir, exist_ok=True)

# Open the zip file
with zipfile.ZipFile(week_three_zip_path, 'r') as zip_ref:
    # Extract all contents to the specified directory
    zip_ref.extractall(extracted_dir)

# Specify the path to the extracted CSV file
extracted_csv_path = os.path.join(extracted_dir, 'tracking_week_3.csv')

# Read the extracted CSV file into a DataFrame
week_three_df = pd.read_csv(extracted_csv_path)
week_three_df.head()

,displayName,frameId,time,playDirection,x,y,s,a,dis,o,dir,event
0,Tyson Alualu,1,2022-09-22 20:16:26.500000,left,84.1,23.83,0.0,0.0,0.00,97.54,272.43,NaN
1,Tyson Alualu,2,2022-09-22 20:16:26.599999,left,84.1,23.83,0.0,0.0,0.00,97.54,269.87,NaN
2,Tyson Alualu,3,2022-09-22 20:16:26.700000,left,84.1,23.83,0.0,0.0,0.00,97.54,269.98,NaN
3,Tyson Alualu,4,2022-09-22 20:16:26.799999,left,84.1,23.83,0.0,0.0,0.01,97.54,284.87,NaN
4,Tyson Alualu,5,2022-09-22 20:16:26.900000,left,84.1,23.83,0.0,0.0,0.00,97.54,281.79,NaN

### Week 4

In [5]:
# Specify path to week four zip file
week_four_zip_path = 'Resources/CompressedTrackingWeeks/tracking_week_4.zip'

# Move zip file into Resources
extracted_dir = 'Resources'

# Create the target directory if it doesn't exist
os.makedirs(extracted_dir, exist_ok=True)

# Open the zip file
with zipfile.ZipFile(week_two_zip_path, 'r') as zip_ref:
    # Extract all contents to the specified directory
    zip_ref.extractall(extracted_dir)

# Specify the path to the extracted CSV file
extracted_csv_path = os.path.join(extracted_dir, 'tracking_week_4.csv')

# Read the extracted CSV file into a DataFrame
week_four_df = pd.read_csv(extracted_csv_path)
week_four_df.head()

,displayName,frameId,time,playDirection,x,y,s,a,dis,o,dir,event
0,La'el Collins,1,2022-09-29 20:16:00.099999,left,86.21,30.88,0.00,0.00,0.00,262.60,246.29,NaN
1,La'el Collins,2,2022-09-29 20:16:00.200000,left,86.21,30.88,0.00,0.00,0.00,263.32,234.76,NaN
2,La'el Collins,3,2022-09-29 20:16:00.299999,left,86.21,30.87,0.01,0.23,0.01,263.32,173.85,NaN
3,La'el Collins,4,2022-09-29 20:16:00.400000,left,86.21,30.86,0.07,0.69,0.01,263.32,191.83,NaN
4,La'el Collins,5,2022-09-29 20:16:00.500000,left,86.21,30.85,0.19,1.01,0.02,263.32,192.85,NaN

### Week 5

In [6]:
# Specify path to week five zip file
week_five_zip_path = 'Resources/CompressedTrackingWeeks/tracking_week_5.zip'

# Move zip file into Resources
extracted_dir = 'Resources'

# Create the target directory if it doesn't exist
os.makedirs(extracted_dir, exist_ok=True)

# Open the zip file
with zipfile.ZipFile(week_five_zip_path, 'r') as zip_ref:
    # Extract all contents to the specified directory
    zip_ref.extractall(extracted_dir)

# Specify the path to the extracted CSV file
extracted_csv_path = os.path.join(extracted_dir, 'tracking_week_5.csv')

# Read the extracted CSV file into a DataFrame
week_five_df = pd.read_csv(extracted_csv_path)
week_five_df.head()

,displayName,frameId,time,playDirection,x,y,s,a,dis,o,dir,event
0,Matt Ryan,1,2022-10-06 20:17:04.799999,left,90.42,23.74,0.11,0.04,0.03,271.98,257.76,NaN
1,Matt Ryan,2,2022-10-06 20:17:04.900000,left,90.39,23.74,0.14,0.06,0.03,272.84,256.68,NaN
2,Matt Ryan,3,2022-10-06 20:17:05.000000,left,90.36,23.73,0.17,0.09,0.03,272.84,254.91,NaN
3,Matt Ryan,4,2022-10-06 20:17:05.099999,left,90.32,23.73,0.19,0.11,0.04,275.80,260.06,NaN
4,Matt Ryan,5,2022-10-06 20:17:05.200000,left,90.28,23.72,0.20,0.13,0.04,275.80,257.79,NaN

### Week 6

In [7]:
# Specify path to week six zip file
week_six_zip_path = 'Resources/CompressedTrackingWeeks/tracking_week_6.zip'

# Move zip file into Resources
extracted_dir = 'Resources'

# Create the target directory if it doesn't exist
os.makedirs(extracted_dir, exist_ok=True)

# Open the zip file
with zipfile.ZipFile(week_six_zip_path, 'r') as zip_ref:
    # Extract all contents to the specified directory
    zip_ref.extractall(extracted_dir)

# Specify the path to the extracted CSV file
extracted_csv_path = os.path.join(extracted_dir, 'tracking_week_6.csv')

# Read the extracted CSV file into a DataFrame
week_six_df = pd.read_csv(extracted_csv_path)
week_six_df.head()

,displayName,frameId,time,playDirection,x,y,s,a,dis,o,dir,event
0,Bobby McCain,1,2022-10-13 20:16:18.799999,left,68.86,37.60,3.95,2.63,0.39,175.81,254.51,NaN
1,Bobby McCain,2,2022-10-13 20:16:18.900000,left,68.48,37.47,4.07,2.75,0.40,180.36,249.50,NaN
2,Bobby McCain,3,2022-10-13 20:16:19.000000,left,68.10,37.31,4.17,2.83,0.41,181.03,244.73,NaN
3,Bobby McCain,4,2022-10-13 20:16:19.099999,left,67.73,37.11,4.27,2.98,0.42,182.99,239.75,NaN
4,Bobby McCain,5,2022-10-13 20:16:19.200000,left,67.37,36.88,4.40,2.92,0.43,182.99,235.32,NaN

### Week 7

In [8]:
# Specify path to week seven zip file
week_seven_zip_path = 'Resources/CompressedTrackingWeeks/tracking_week_7.zip'

# Move zip file into Resources
extracted_dir = 'Resources'

# Create the target directory if it doesn't exist
os.makedirs(extracted_dir, exist_ok=True)

# Open the zip file
with zipfile.ZipFile(week_seven_zip_path, 'r') as zip_ref:
    # Extract all contents to the specified directory
    zip_ref.extractall(extracted_dir)

# Specify the path to the extracted CSV file
extracted_csv_path = os.path.join(extracted_dir, 'tracking_week_7.csv')

# Read the extracted CSV file into a DataFrame
week_seven_df = pd.read_csv(extracted_csv_path)
week_seven_df.head()

,displayName,frameId,time,playDirection,x,y,s,a,dis,o,dir,event
0,J.J. Watt,1,2022-10-20 20:16:19.099999,left,87.64,23.49,3.95,2.68,0.40,113.01,67.50,NaN
1,J.J. Watt,2,2022-10-20 20:16:19.200000,left,88.02,23.63,4.08,2.35,0.41,118.70,71.05,pass_arrived
2,J.J. Watt,3,2022-10-20 20:16:19.299999,left,88.44,23.74,4.21,2.07,0.44,114.82,75.53,NaN
3,J.J. Watt,4,2022-10-20 20:16:19.400000,left,88.86,23.82,4.20,2.07,0.43,121.02,79.59,NaN
4,J.J. Watt,5,2022-10-20 20:16:19.500000,left,89.28,23.88,4.15,2.08,0.42,124.76,82.73,NaN

### Week 8

In [9]:
# Specify path to week eight zip file
week_eight_zip_path = 'Resources/CompressedTrackingWeeks/tracking_week_8.zip'

# Move zip file into Resources
extracted_dir = 'Resources'

# Create the target directory if it doesn't exist
os.makedirs(extracted_dir, exist_ok=True)

# Open the zip file
with zipfile.ZipFile(week_seven_zip_path, 'r') as zip_ref:
    # Extract all contents to the specified directory
    zip_ref.extractall(extracted_dir)

# Specify the path to the extracted CSV file
extracted_csv_path = os.path.join(extracted_dir, 'tracking_week_8.csv')

# Read the extracted CSV file into a DataFrame
week_eight_df = pd.read_csv(extracted_csv_path)
week_eight_df.head()

,displayName,frameId,time,playDirection,x,y,s,a,dis,o,dir,event
0,Kevin Zeitler,1,2022-10-27 20:16:37.099999,right,25.82,28.56,0.92,1.22,0.10,62.16,327.70,NaN
1,Kevin Zeitler,2,2022-10-27 20:16:37.200000,right,25.78,28.64,0.87,1.12,0.09,59.23,337.03,NaN
2,Kevin Zeitler,3,2022-10-27 20:16:37.299999,right,25.77,28.72,0.78,1.14,0.08,58.48,348.42,pass_arrived
3,Kevin Zeitler,4,2022-10-27 20:16:37.400000,right,25.77,28.79,0.72,1.23,0.07,57.03,1.00,NaN
4,Kevin Zeitler,5,2022-10-27 20:16:37.500000,right,25.79,28.86,0.70,1.26,0.07,54.68,15.53,NaN

### Week 9

In [10]:
# Specify path to week nine zip file
week_nine_zip_path = 'Resources/CompressedTrackingWeeks/tracking_week_9.zip'

# Move zip file into Resources
extracted_dir = 'Resources'

# Create the target directory if it doesn't exist
os.makedirs(extracted_dir, exist_ok=True)

# Open the zip file
with zipfile.ZipFile(week_seven_zip_path, 'r') as zip_ref:
    # Extract all contents to the specified directory
    zip_ref.extractall(extracted_dir)

# Specify the path to the extracted CSV file
extracted_csv_path = os.path.join(extracted_dir, 'tracking_week_9.csv')

# Read the extracted CSV file into a DataFrame
week_nine_df = pd.read_csv(extracted_csv_path)
week_nine_df.head()

,displayName,frameId,time,playDirection,x,y,s,a,dis,o,dir,event
0,Fletcher Cox,1,2022-11-03 20:16:30.400000,right,35.31,21.25,0.25,0.21,0.01,275.05,263.18,NaN
1,Fletcher Cox,2,2022-11-03 20:16:30.500000,right,35.30,21.25,0.21,0.20,0.02,270.08,264.09,NaN
2,Fletcher Cox,3,2022-11-03 20:16:30.599999,right,35.29,21.25,0.17,0.18,0.01,267.61,264.78,NaN
3,Fletcher Cox,4,2022-11-03 20:16:30.700000,right,35.31,21.24,0.10,0.15,0.02,263.43,250.80,NaN
4,Fletcher Cox,5,2022-11-03 20:16:30.799999,right,35.31,21.25,0.07,0.12,0.01,262.28,258.57,NaN

### Merging Weeks 1-9 based on Time

In [11]:
# List of all tracking weeks
weeks_dfs = [week_one_df, week_two_df, week_three_df, week_four_df, week_five_df, week_six_df, week_seven_df, week_eight_df, week_nine_df]

# Use pd.concat to merge the DataFrames along the rows
merged_weeks_df = pd.concat(dfs, ignore_index=True)
merged_weeks_df.head

# Save the merged weeks DataFrame to a new CSV file
#merged_weeks_df.to_csv('Resources/merged_data.csv', index=False)

NameError: name 'dfs' is not defined